<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Jurdi</title>
    <link rel="stylesheet" href="../assets/css/app.css">
    <link rel="stylesheet" href="../assets/css/responsive.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link  href="../assets/css/bootstrap.min.css" rel="stylesheet">
    <!-- Swiper -->
    <link rel="stylesheet" href="../assets/css/swiper.min.css" />
    <!-- Dayjs -->
    <script src="../assets/js/day.min.js"></script>
    <script src="../assets//js/relativetime.min.js"></script>
    <!-- VUE JS -->
    <script src="../assets/js/vue.global.prod.js"></script>


</head>
  <body id="app" class="bg-blight overflow-x-hidden">
    <header-section  :utilities="utilities" :logo="logo" :contact="contact"  :form="form"></header-section>
    <main class="pb-5" style="margin-top: 100px;">
        <blogs-section :blogs="blogs" :utilities="utilities" :contact="contact"></blogs-section>
    </main>
    <footer-section :services="services" :links="links" :utilities="utilities" :contact="contact" :form="form"></footer-section>
    
    <section v-if="blogSpinner" class="w-100 h-100 z-2 position-fixed top-0 start-0 bg-glass d-flex justify-content-center align-items-center">
        <span class="spinner spinner-grow"></span>
    </section>

    <aside v-if="form.showForm" class="bg-glass w-100 h-100 position-fixed top-0 start-0 z-2 d-flex justify-content-center align-items-center">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-lg-8 bg-light p-3 rounded d-flex flex-column gap-2">
                    <h6>Send us a message</h6>
                    <input v-model="form.name" type="text" class="form-control" placeholder="Enter name">
                    <input v-model="form.subject" type="text" class="form-control" placeholder="Enter Subject">
                    <textarea v-model="form.message" cols="30" rows="10" class="form-control" placeholder="Write a message.."></textarea>
                    <div class="d-flex gap-2">
                    <a :href="link" class="btn btn-sm btn-primary px-3">Send</a>
                    <button class="btn btn-sm btn-outline-secondary px-3" @click="form.showForm = !form.showForm">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </aside>
    <script src="../assets/js/bootstrap.min.js"></script>
    <script type="module" src="../assets/js/app.js"></script>
</body>
</html>
